
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #ffffff;    height: 100vh;
  display: grid;
  justify-content: center;

}
*,
*:focus{outline: none}

form{
 

  margin: 0 auto;
  margin-top: 150px;
  font-family: sans-serif;
}

#form-container{
  display: grid;
  grid-template-columns: 1fr;

  grid-template-rows: repeat(6,1fr);
  width: 400px;
}


#submit{
  color: #999;
  font-family: "Poppins";
}

#submit:hover{
  color: whitesmoke;
  background-color:#7C7ADE ;
  transition-duration: 1s;
  transition-property: color  background-color;
  border-color: whitesmoke;



}


.form-item{
  position: relative;
  margin-bottom: 15px
}
.form-item input{
  display: block;
  width: 400px;
  height: 40px;
  background: transparent;
  border: solid 1px #ccc;
  transition: all .3s ease;
  padding: 0 15px;
  font-size: 14px;
  color:rgb(0, 0, 0);
}
.form-item input:focus{
  border-color: #7C7ADE;
}
.form-item label{
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  background: #ffffff;
  padding: 0 10px;
  color: #999;
  transition: all .3s ease
}
.form-item input:focus + label,
.form-item input:valid + label{
  font-size: 11px;
  top: -5px
}
.form-item input:focus + label{
  color: #7C7ADE;
}